.product-list {
    width: 100%;
    margin-bottom: 24px;
  }
  
  .product-list ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr)); /* Фиксируем минимальную ширину 240px */
    row-gap: 12px; /* Увеличим промежуток между карточками */
    column-gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Адаптивность */
  @media (max-width: 900px) {
    .product-list ul {
      grid-template-columns: repeat(2, minmax(240px, 1fr));
    }
  }
  
  @media (max-width: 600px) {
    .product-list ul {
      grid-template-columns: 1fr;
    }
  }