/* header.css */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import '../../../App.css';

.header__container {
  display: flex;
  gap: 50px;
  width: 1375px;
  height: 90px;
  padding-left: ;
  padding-right: ;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  border-bottom: 2px solid var(--context_light_blue-gray);
}

.header__logo-image {
  height: 52px;
  transform: translateY(6px);
  user-select: none;
  pointer-events: none;
}

.header__search {
  position: relative;
}

.search__input {
  width: 350px;
  height: 45px;
  padding-left: 32px;
  font-size: 15px;
  font-weight: 400;
  font-family: Onest;
  background-color: var(--context_light_blue-gray);
  border: none;
  border-radius: 12px;
}

.search__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-55%);
  width: 15px;
  height: 15px;
}

/* Nav */
.header__nav {
  display: flex;
  gap: 32px;
}

.header__nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.header__nav-icon {
  height: 24px;
  margin-bottom: 5px;
}

.header__nav-title {
  font-size: 12px;
  color: var(--medium_gray);
  transition: color 0.2s;
}

.header__nav-title:hover {
  color: #FF0F0F;
}

/* User */
.header__user-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.header__user-avatar {
  height: 32px;
  margin-bottom: 4px;
}

.header__user-name {
  font-size: 14px;
  font-weight: 600;
}

.header__user-status {
  height: 6.5px;
}

/* Location */
.header__location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.location__icon {
  width: 16px;
  margin-right: 6px;
}

.location__text {
  font-size: 12px;
  font-weight: 600;
  color: var(--action_color_primary);
  transition: color 0.2s;
}

.location__text:hover {
  color: #FF0F0F;
}

/* Button */
.header__button {
  width: 220px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  font-family: Onest;
  color: white;
  background-color: var(--action_color_primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.header__button:hover {
  opacity: 0.92;
}

.header__search-container {
  position: relative;
}

.search__loading {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: var(--medium_gray);
}
  
  .header__logo-image--mobile,
  .header__burger {
    display: none;
  }